.wall2{width: 100vw;height: 100vh;background-color: gainsboro;}
section{width: 100%;height: 100%;}
.Wall2text{width: 100%;height: 100%;}
.zagolovki{font:bold 2vw sans-serif; z-index: 999;fill: rgb(88, 88, 88);}
.podro{font: 1.3vw sans-serif; z-index: 999;fill: rgb(173, 172, 172);}
#slider {
    position: relative;
    width: 35vw;
    height: 60vh;
    
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
    top: -70%;
left: 10%;
  }
  
  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }
  
  
  
  
  #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
  }
  
  #slide1 {
    background: url(../Images/1img.jfif);background-size: cover;background-repeat: no-repeat;
  }
  
  #slide2 {
    background: url(../Images/2img.jfif);background-size: cover;background-repeat: no-repeat;
  }
  
  #slide3 {
    background: url(../Images/3img.jpg);background-size: cover;background-repeat: no-repeat;
  }
  
  #slide4 {
    background: url(../Images/4img.jfif);background-size: cover;background-repeat: no-repeat;
  }
  
  #slide5 {
    background: url(../Images/5img.jfif);background-size: cover;background-repeat: no-repeat;
  }
  #s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 0px);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
  }
  
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
  }
  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
  }
  @media (min-width:1px) and (max-width:700px){
    .zagolovki{font-size: 3vw;}
    .podro{font-size: 1.45vw;}
    #slide1{background-size: 100% 150%;}
    #slide2{background-size: 100% 150%;}
    #slide3{background-size: 100% 150%;}
    #slide4{background-size: 100% 150%;}
    #slide5{background-size: 100% 150%;}
    }